<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
    {% if 'user' in request.session %}
        欢迎:{{ request.session.user.name }}
        <a href="/user/logout">退出登录</a>
    {% else %}
        <a href="/user/login">登录</a>
        <a href="/user/reg">注销</a>
    {% endif %}
    {% if 'user' in request.session %}
    <div>
        <a href="/note/">进入我的笔记</a>
        <div>
            <img src="/static/files/1.jpg" alt="美女图片">
        </div>

    </div>
    {% endif %}
</body>
</html>