/*清除浏览器默认样式*/
body,h1,h2,h3,h4,h5,h6,p,ul,ol{
    margin:0;
    padding:0;
    list-style:none;
}

/*设置基础样式*/

body{
    font:12px '黑体',"宋体";
    color:#9a9a9a;
    background:#f1f2f3;
}
a{
    text-decoration:none;
    color:#9a9a9a;
}
input:focus{
    outline:none;
}

/*设置外围容器的样式*/
#container{
    width:1000px;
    margin:0 auto;

}
