<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>修改笔记</title>
</head>
<body>
<form action="/note/mod/{{ a_note.id }}" method="post">
    {% csrf_token %}
    <div>
        <label for="id_title">主题</label>
        <input type="text" name="title" value="{{ a_note.title }}">
        <input type="submit" value="保存">
        <a href="/note/">返回列表页</a>
    </div>
    <div>
        <textarea name="content" id=""
                  cols="30" rows="10">{{ a_note.content }}</textarea>
    </div>
</form>


</body>
</html>