<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/common.js"></script>
    <script src="/static/jquery-1.11.3.js"></script>
    <script>
        $(function(){
            //为#btnPost绑定click事件
            $('#btnPost').click(function(){
                //1.创建xhr
                var xhr=createXhr()
                //2.创建请求
                xhr.open('post','/ajax/05-server/',true)
                //3.设置回调函数
                xhr.onreadystatechange=function(){
                    if(xhr.readyState==4&&xhr.status==200){
                        alert(xhr.responseText)
                    }
                }
                //4.设置请求消息头
                xhr.setRequestHeader(
                    'Content-Type',
                    'application/x-www-form-urlencoded'
                )
                //5.发送请求
                var uname=$('#uname').val()
                var upwd=$('#upwd').val()
                //获取csrfmiddlewaretoken的值
                var csrf=$('[name=csrfmiddlewaretoken]').val()
                var params='uname='+uname+'&upwd='+upwd+'&csrfmiddlewaretoken='+csrf
                xhr.send(params)
            })
        })
    </script>
</head>
<body>
    {% csrf_token %}
    <p>
        用户名称：<input type="text" id="uname">
    </p>
    <p>
        用户密码：<input type="password" id="upwd">
    </p>
    <p>
        <input type="button" id="btnPost" value="提交">

    </p>
</body>
</html>