<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery-1.11.3.js"></script>
    <script>
        $(function(){
            $('#btnAjax').click(function(){
                $.ajax({
                    url:"/ajax/09-json-users",
                    type:"get",
                    dataType:"json",
                    async:true,
                    success:function(resText){
                        $(resText).each(function(i,obj){
                            console.log("用户名:"+obj.fields.uname)
                            console.log("密码:"+obj.fields.upwd)
                        })
                    }
                })
            })
        })
    </script>
</head>
<body>
    <button id="btnAjax">使用$.ajax()请求数据</button>

</body>
</html>